.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.bottom-cta-subscribe {
	background: #fff;
	color: black;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;

	p {
		color: #fff;
	}
}

.onepager{
    height: 100vh;
	display: table;
	width: 100%;
    justify-content: center;
	align-items: center;
	background-color: #4182e4;
}

.onepager-container{
	font-size: 1.5em;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	padding-top: 1rem;
	padding-left: 1rem;
  padding-right: 1rem;
}

.likeup-banner {
	color: black;

	h3 {
		font-size: 1.75rem;
	}

	.description {
		margin-bottom: 16px;
	}

	a {
		color: #FF6584;
		&:hover {
			text-decoration: none;
		}
	}
	font-size: 1.3rem;
	border-radius: 30px;
	max-width: 600px;
	margin: auto;
	font-family: "Open Sans";
	background-color: white;
	text-align: center;
	padding: 25px 10px;

	.text-secondary {
		margin-top: 8px;
		font-size: 1rem;
		color: #6c757d !important;
	}

	.button-secondary {
		font-size: 1rem;
	}

	.button {
		button {
			width: 240px;
			font-weight: bold;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			border-radius: 30px;
			background-color: #FF6584;

			&:hover {
				background-color: #6c63ff;
				color: white;
			}
		}
	}
	.button-outlined {
		button {
			width: 240px;
			font-weight: bold;
			color: #FF6584;
			border-radius: 30px;
			border: 2px solid #FF6584;

			&:hover {
				background-color: #FF6584;
				color: white;
			}
		}
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
